section.story
   .container
      .story__inner
         img(src="assets/images/index/story.jpg" alt="story").story__item.story__left
         .story__item.story__right
            h2.story__title The Delicious Story
            p.story__title-text The people, food and the prime locations make the perfect place for the friends & family to come together and have great time.
            .story__date
               .story__date-item
                  span.story__date-year 2018
                  p.story__date-text Plan for this restaurant to deliver healthy food.
               .story__date-item
                  span.story__date-year 2022
                  p.story__date-text Happily in the fourth year by fulfill the motto.
            .story__name JOSEFINE
            img(src="assets/images/index/sign.svg" alt="sign").story__sign