section.popular
   .container
      .popular__inner
         h4.popular__title.section-title menu
         h2.popular__subtitle.section-subtitle Popular Dishes
         p.popular__subtitle-text.section-subtitle-text There is a game between the waiters in restaurant to see who serves the food to each table fastest. That led to attempting the Guinness Record.
         .popular__content
            .popular__item
               img(src="../../../../assets/images/index/popular-01.jpg" alt="dish").popular__img
               .popular__item-wrapper
                  .popular__np
                     span.popular__np-name Chicken Manjoori
                     span.popular__np-price 15$
                  .popular__desc Dish relished by all age groups as a starter dish at parties.
            .popular__item
               img(src="../../../../assets/images/index/popular-02.jpg" alt="dish").popular__img
               .popular__item-wrapper
                  .popular__np
                     span.popular__np-name Hotdog
                     span.popular__np-price $10
                  .popular__desc Grilled sausage served in the slit of a partially sliced bun.
            .popular__item
               img(src="../../../../assets/images/index/popular-03.jpg" alt="dish").popular__img
               .popular__item-wrapper
                  .popular__np
                     span.popular__np-name Fresh Salmon
                     span.popular__np-price 5$
                  .popular__desc Beat the health blues with our Super Immune Blue Juice Recipe.
            .popular__item
               img(src="../../../../assets/images/index/popular-04.jpg" alt="dish").popular__img
               .popular__item-wrapper
                  .popular__np
                     span.popular__np-name Veg Burger
                     span.popular__np-price $10
                  .popular__desc Burgers may be made from ingredients like beans 