section.hero
   .container
      .hero__inner
         .hero__item.hero__left
            h1.hero__title Welcome to Restaurant
            p.hero__text The people, food and the prime locations make the perfect place good friends & family to come together and have great time.
            button.hero__button View Menu
         .hero__item.hero__right
            img.hero__img(src="assets/images/index/hero.png" alt="cafe")