section.testimonial
   .container
      h4.testimonial__title.section-title testimonial
      h2.testimonial__subtitle.section-subtitle our clients say
      p.testimonial__subtitle-text.section-subtitle-text We love to hear from customers, so please leave a comment or say hello in an email.
      .swiper.mySwiper
         .swiper-wrapper.testimonial__swiper
            .swiper-slide
               .testimonial__person
                  .testimonial__person-desc
                     img(src="assets/images/index/testimonial-01.png" alt="person1").testimonial__person-img
                     .testimonial__person-data
                        span.testimonial__person-name Natasha
                        span.testimonial__person-location Newyork
                  p.testimonial__person-words They known for its fabulous taste and food. Anywhere you go your hunger is satisfied. The best chicken & burgers those are yummy.
            .swiper-slide
               .testimonial__person
                  .testimonial__person-desc
                     img(src="assets/images/index/testimonial-02.png" alt="person2").testimonial__person-img
                     .testimonial__person-data
                        span.testimonial__person-name Jack
                        span.testimonial__person-location Salt Lake City
                  p.testimonial__person-words I have visited this fantastic restaurant on several occasions, food is absolutely outstanding & attention to detail is in league of its own.
            .swiper-slide
               .testimonial__person
                  .testimonial__person-desc
                     img(src="assets/images/index/testimonial-03.png" alt="person3").testimonial__person-img
                     .testimonial__person-data
                        span.testimonial__person-name Martin
                        span.testimonial__person-location San Diego
                  p.testimonial__person-words Perfectly known for its fabulous taste and food. Anywhere your hunger is satisfied. They give best fried chicken and burgers those are yummy.
         .swiper-pagination






