section.special
   .container
      h4.special__title.section-title Menu
      .special__inner
         .special__item.special__left
            h2.special__subtitle.section-subtitle Try Our Special dishes
            p.special__subtitle-text.section-subtitle-text Every time you perfectly dine with us, it  should happy for great inspired food in an environment designed with individual touches    unique to the local area.
            img(src="assets/images/index/special-main.jpg" alt="food").special__img
            button.special__button See all dishes
         .special__item.special__right
            .special__right-item
               h5.special__right-item-title Starters
               .special__right-food
                  .special__right-food-element
                     img(src='assets/images/index/special-01.png').special__right-food-img
                     .special__right-food-description
                        .special__right-food-title Raw Scallops from Erquy
                        .special__right-food-price
                           span.special__right-food-price-text.section-subtitle-text Shuck the scallop to that used for oysters
                           div.special__right-food-price-line
                           span.special__right-food-price-number $40
                  .special__right-food-element
                     img(src='assets/images/index/special-02.png').special__right-food-img
                     .special__right-food-description
                        .special__right-food-title Spring Roll
                        .special__right-food-price
                           span.special__right-food-price-text.section-subtitle-text Add oil to a hot pan spring onion whites
                           span.special__right-food-price-line
                           span.special__right-food-price-number $20
                  .special__right-food-element
                     img(src='assets/images/index/special-03.png').special__right-food-img
                     .special__right-food-description
                        .special__right-food-title French Onion Soup
                        .special__right-food-price
                           span.special__right-food-price-text.section-subtitle-text Wheat flour, apple cider vinegar, bread
                           span.special__right-food-price-line
                           span.special__right-food-price-number $25
                  .special__right-food-element
                     img(src='assets/images/index/special-04.png').special__right-food-img
                     .special__right-food-description
                        .special__right-food-title Tomato Bruschetta
                        .special__right-food-price
                           span.special__right-food-price-text.section-subtitle-text Bread, olive oil, garlic, black pepper
                           span.special__right-food-price-line
                           span.special__right-food-price-number $30
            .special__right-item
               h5.special__right-item-title Main Dish
               .special__right-food
                  .special__right-food-element
                     img(src='assets/images/index/special-05.png').special__right-food-img
                     .special__right-food-description
                        .special__right-food-title Grilled Salmon with Dill Sauce
                        .special__right-food-price
                           span.special__right-food-price-text.section-subtitle-text Brown sugar, salmon fillet, Dijon mustard
                           span.special__right-food-price-line
                           span.special__right-food-price-number $40
                  .special__right-food-element
                     img(src='assets/images/index/special-06.png').special__right-food-img
                     .special__right-food-description
                        .special__right-food-title Roast Beef with Vegetable
                        .special__right-food-price
                           span.special__right-food-price-text.section-subtitle-text Green beans, rib eye, olive oil, beef
                           span.special__right-food-price-line
                           span.special__right-food-price-number $20
                  .special__right-food-element
                     img(src='assets/images/index/special-07.png').special__right-food-img
                     .special__right-food-description
                        .special__right-food-title Marrkesh Vegetetarian Curruy
                        .special__right-food-price
                           span.special__right-food-price-text.section-subtitle-text Sweet potato, eggplant, garbanzo bean
                           span.special__right-food-price-line
                           span.special__right-food-price-number $25
                  .special__right-food-element
                     img(src='assets/images/index/special-08.png').special__right-food-img
                     .special__right-food-description
                        .special__right-food-title Spicy Vegan Potato Curry
                        .special__right-food-price
                           span.special__right-food-price-text.section-subtitle-text Coconut milk, beans, potatoes, curry powder
                           span.special__right-food-price-line
                           span.special__right-food-price-number $35
            .special__right-item
               h5.special__right-item-title Dessert
               .special__right-food
                  .special__right-food-element
                     img(src='assets/images/index/special-09.png').special__right-food-img
                     .special__right-food-description
                        .special__right-food-title Apple Pie with Cream
                        .special__right-food-price
                           span.special__right-food-price-text.section-subtitle-text Whipping cream, egg white, cinnamon
                           span.special__right-food-price-line
                           span.special__right-food-price-number $15
                  .special__right-food-element
                     img(src='assets/images/index/special-10.png').special__right-food-img
                     .special__right-food-description
                        .special__right-food-title Lemon Meringue Pie
                        .special__right-food-price
                           span.special__right-food-price-text.section-subtitle-text Frozen pie crust, meringue, lemon
                           span.special__right-food-price-line
                           span.special__right-food-price-number $30

