section.offer
   .container.offer-container
      h4.offer__title.section-title offers
      h2.offer__subtitle.section-subtitle Our Offer dishes
      p.offer__subtitle-text.section-subtitle-text Our chefs create melt-in-your-mouth dishes that'll satiate even the fussiest eaters now the dishes are in offers use it based on hunger.
      .offer__inner
         .offer__item.offer__left 
            .offer__discounts
               img(src="../../../../assets/images/index/offer-10.svg" alt="discount").offer__discounts-price
               span.offer__discounts-percentage 50% Offer Going
               span.offer__discounts-dish Chicken Burger
               p.offer__discounts-desc Chicken burger with the tasty toppings and leaves.
            img(src="../../../../assets/images/index/offer-b.png" alt="burger").offer__img
         .offer__item.offer__right
            .offer__discounts
               img(src="../../../../assets/images/index/offer-9.svg" alt="discount").offer__discounts-price
               span.offer__discounts-percentage 50% Offer Going
               span.offer__discounts-dish Chicken Pizza
               p.offer__discounts-desc Pizza with multiple flavor and the toping are mixed.
            img(src="../../../../assets/images/index/offer-p.png" alt="pizza").offer__img

