section.contacts
   .container
      .contacts__inner
         .contacts__item
            img(src="assets/images/index/location.svg" alt="location").contacts__item-img
            .contacts__item-info
               h4.contacts__item-title Locate Us
               p.contacts__item-text Riverside 25, San Diego, California
         .contacts__item
            img(src="assets/images/index/hours.svg" alt="hours").contacts__item-img
            .contacts__item-info
               h4.contacts__item-title Open Hours
               p.contacts__item-text Mon To Fri 9:00 AM - 9:00 PM
         .contacts__item
            img(src="assets/images/index/reservation.svg" alt="reservation").contacts__item-img
            .contacts__item-info
               h4.contacts__item-title Reservation
               p.contacts__item-text restaurantate@gmail.com
