extends ../layout/main/main

block variables
    -var title = 'Catalog Page'
    -var description = 'Description sdfdksnfdsfk'
    -var pageClass = 'catalog-page'

block content  
    section
        .row
            .col-md-3
                aside(style='background: red') 
                    ul 
                        li
                            a(href="#") link-1
                        li
                            a(href="#") link-2
                        li
                            a(href="#") link-3
                        li
                            a(href="#") link-4
                        li
                            a(href="#") link-5
                        li
                            a(href="#") link-6
                        li
                            a(href="#") link-7
                        li
                            a(href="#") link-8
                        li
                            a(href="#") link-9
                        li
                            a(href="#") link-10
                        li
                            a(href="#") link-11
                        li
                            a(href="#") link-12
                        li
                            a(href="#") link-13
                        li
                            a(href="#") link-14
                        li
                            a(href="#") link-15

            .col-md-9
                main(style='background: green') 
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo cupiditate culpa quas natus deserunt dignissimos laudantium expedita rerum facilis repellat possimus, suscipit recusandae ipsa necessitatibus id commodi, asperiores iure vel perspiciatis! Voluptatem molestias nemo nam saepe eaque doloremque impedit, dolores quidem ipsam cum natus voluptas similique magnam corrupti alias quam beatae excepturi, suscipit iusto, nisi unde? Distinctio atque, iste, voluptate minima itaque nesciunt ipsam deserunt non a fugiat, dignissimos est. Expedita est architecto eligendi minima, repudiandae, cupiditate esse iste soluta suscipit error sunt porro. A, aspernatur. Quas iusto aspernatur reprehenderit facilis, assumenda, inventore amet quaerat vitae officiis totam blanditiis consequuntur reiciendis, dignissimos fuga ducimus! Obcaecati tempore ullam placeat similique, voluptates, vero consequatur, consectetur labore quo cumque repudiandae. Repellendus sunt voluptatem iusto dolor adipisci ab molestias soluta dicta ipsa dolorem atque vel quasi magnam, architecto minus fugit quaerat nulla mollitia saepe quibusdam harum odit! In blanditiis reiciendis, natus, quisquam distinctio inventore hic eum accusamus fugit quam unde libero praesentium iste delectus nihil corrupti error similique sint nulla autem, beatae vel minus. Consequuntur aspernatur modi sint repellendus consequatur! Saepe voluptate eligendi pariatur odio mollitia possimus eaque distinctio corrupti quisquam quia nihil tempora illo, quis consectetur voluptatibus quidem? Quidem cupiditate eveniet laudantium. Tempore rem ipsam, deleniti quibusdam asperiores ut soluta atque adipisci quisquam maiores maxime. Harum voluptatum repellendus aliquid odio temporibus culpa possimus nostrum reprehenderit? Cupiditate mollitia voluptatum aspernatur eum beatae? Iste, perferendis repellendus tenetur accusantium similique, enim officia aspernatur, vel cum animi quibusdam! Autem repellendus accusantium illum quia, ducimus consequatur et. Velit porro minus, veniam natus quis odit obcaecati nihil nostrum officiis, beatae reprehenderit harum quas. Fuga earum deleniti, cupiditate facilis hic esse culpa eius voluptatibus odio animi facere repellat aspernatur laboriosam aut nostrum magnam nesciunt similique, quo enim est. Illum est eius officiis maiores? Architecto facere nulla exercitationem praesentium sequi totam maxime sint neque quod sunt tempore fuga omnis earum accusamus, autem laboriosam deleniti porro provident enim consequatur quas esse. Pariatur tempore ut obcaecati adipisci commodi excepturi quasi quos amet est optio magnam velit eaque doloremque sed soluta, quidem beatae eligendi labore aliquam fuga cum assumenda laborum iste fugiat? Repudiandae officiis recusandae accusantium ut cum, aut eligendi? Iure sed veritatis culpa aliquid rerum nostrum deserunt ut, minus rem! Exercitationem repellat aliquid quos quia culpa quod nesciunt laboriosam, debitis magnam maiores, doloremque ullam, tenetur dicta! Fugiat consectetur eligendi molestias praesentium doloribus iusto nulla maxime perferendis doloremque excepturi magnam atque repudiandae minus odio animi accusantium omnis voluptatibus illum, adipisci eaque placeat qui. Quasi ullam tenetur, blanditiis natus impedit ducimus, voluptas asperiores quibusdam id soluta laudantium explicabo, accusamus fugit veniam? Non accusantium explicabo harum ipsum commodi praesentium aliquam tempora atque similique. Nesciunt fugiat, dolores ea sint voluptas vero harum nemo! Sequi, saepe, doloribus quam quos soluta omnis amet alias nisi maxime quae repellat tempora nesciunt eligendi? Architecto, natus incidunt, possimus quis aperiam porro consequuntur totam vero cupiditate blanditiis repudiandae quo iste eos ullam voluptate assumenda facilis, iusto autem. Dicta assumenda et natus vero esse quae consequuntur, perspiciatis culpa voluptas cupiditate, aliquid illo. Quam quia voluptatibus dignissimos ut, velit magni tempora! Deserunt accusamus inventore quisquam quos velit, porro id perferendis voluptas vel odit rerum, non mollitia magni repudiandae sint tempora natus, illo corrupti asperiores eum deleniti accusantium? Architecto magni voluptatibus temporibus sit cupiditate harum, eaque et asperiores non obcaecati quaerat impedit, nihil id. Laborum, totam necessitatibus error molestiae beatae sit id porro obcaecati velit earum fuga incidunt adipisci alias accusamus provident minus blanditiis cumque odio dolore ducimus. Placeat doloribus architecto accusamus accusantium doloremque perspiciatis fugiat, consequatur voluptatum est. Modi, optio necessitatibus? Doloremque omnis, error quod porro cum fugit numquam itaque iste, repudiandae asperiores vitae unde magnam quibusdam facilis autem nam quasi vel quam laborum, iure magni hic doloribus. Ullam exercitationem quidem iste ex incidunt quod saepe, cumque ad officia, unde mollitia aliquam ut pariatur animi dolore ipsam cupiditate esse? Maxime sit repellendus consequatur, laboriosam aut molestias officia eaque placeat delectus quasi fugit saepe fuga rem aperiam quaerat ad doloribus dolorum facere accusamus sint recusandae blanditiis alias corporis iusto. Mollitia laborum minus temporibus magnam ex. Dolorem exercitationem ab eligendi nobis quidem eum fugit explicabo illo voluptate deleniti molestias totam in amet, hic quae sint saepe soluta accusamus. Veniam eligendi voluptas fugiat praesentium doloremque asperiores harum distinctio, veritatis, ipsa placeat in pariatur obcaecati, amet saepe sed corrupti ea ipsum alias ratione necessitatibus ex reprehenderit? Assumenda aperiam, tempore suscipit velit veniam excepturi saepe in culpa asperiores quo animi debitis iste recusandae ratione. Inventore labore cum dolores aut aliquam, odit sed excepturi velit cupiditate iure temporibus, perspiciatis nemo harum id quam blanditiis illo praesentium? Vel eius expedita dolorem commodi, exercitationem rem molestias ipsum inventore! Ea placeat molestiae corporis quo asperiores, qui velit necessitatibus soluta fuga quam voluptatem cum! Tempore incidunt et vitae quo nostrum assumenda nam eligendi soluta qui, explicabo sunt mollitia voluptatem nihil quibusdam similique blanditiis! Ullam consequatur ipsam ratione soluta sint iste nemo distinctio quia accusamus rem exercitationem nam blanditiis reprehenderit, eum aspernatur quae nesciunt cumque numquam ad? Veniam rem dicta harum earum eligendi necessitatibus delectus eum fugiat ipsa illum, dolorem id autem quas quod optio corporis expedita temporibus quisquam atque alias aspernatur. Accusamus soluta animi tempore similique aliquid voluptates odit, temporibus repellat eveniet adipisci dicta qui hic suscipit esse voluptatibus molestias quisquam, cumque facilis totam veritatis alias labore dolor maiores. Inventore repellendus veniam voluptatem, illum rem quidem. Facere minima vero vel voluptatum, iure debitis. Porro ipsa at soluta molestiae, amet ut fugiat molestias alias quis assumenda maxime accusamus? Optio animi inventore iure aliquid dicta sequi voluptas delectus velit deserunt praesentium debitis, totam quibusdam accusantium accusamus labore similique molestias natus nostrum. Ea beatae fuga nesciunt quo nemo quia pariatur iure voluptatibus enim illo, mollitia temporibus autem. Illo culpa, aut maiores voluptates eius assumenda et possimus incidunt, repudiandae omnis natus commodi laudantium nulla laborum! Sint ullam, ex corporis sit facilis amet reprehenderit enim doloremque ipsam dolor esse vel repudiandae explicabo qui sed dicta cum numquam, nulla rerum dolorem suscipit aliquam. Animi unde temporibus fugit magnam. Quos, esse porro laborum, deleniti, at saepe nemo nisi aut enim delectus ex.