extends ../layout/main/main.pug

block variables
  -var title = 'Home Page'
  -var description = 'Description'

block content
  main
    include ../components/pages/index/hero/hero.pug
    include ../components/pages/index/contacts/contacts.pug
    include ../components/pages/index/story/story.pug
    include ../components/pages/index/special/special.pug
    include ../components/pages/index/testimonial/testimonial.pug
    include ../components/pages/index/offer/offer.pug



