include ./constants

block searchFormConstants

form(action="#" class='search-form')
    select(name="category" class="search-form__select")
        each item in categories
            option(value=item) #{item}
    input(type="text" class='search-form__input')
    button.search-form__btn
        img(src="../../assets/images/icons/search.svg", alt="search")