.search-form {
    height: 40px;
    background: #ffffff;
    border-radius: 4px;
    display: flex;
    &__select {
        width: 52px;
        height: 40px;
        background: #f3f3f3;
        border-radius: 4px 0px 0px 4px;
        padding: 0 6px;
        font-size: 14px;
    }
    &__input {
        height: 40px;
        flex: 1 1 auto;
        padding: 0 10px;
    }
    &__btn {
        background: #f4bf76;
        border-radius: 0px 4px 4px 0px;
        width: 45px;
        height: 40px;
        cursor: pointer;
    }
}
