@import '../../scss/vars.scss';

.header {
	background: $secondaryColor;
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 49px 0;
	}

	&__phone {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px 0;
		flex: 0 1 295px;
		border: 2px solid $primaryColor;
		font-size: 22px;
		line-height: 33px;
		letter-spacing: 0.2px;
		color: #ffffff;
	}

	&__button {
		flex: 0 1 295px;
		background: $primaryColor;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px 0;
		font-size: 22px;
		line-height: 33px;
		letter-spacing: 0.44px;
		color: $secondaryColor;
	}

	&__bottom {
		border-top: 1px solid #5c6168;
		&-inner {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 20px 0;
		}
	}

	&__nav {
		&-list {
			display: flex;
			align-items: center;
			gap: 60px;
		}
		&-item {
		}
		&-link {
			font-size: 20px;
			line-height: 30px;
			letter-spacing: 0.2px;
			color: #ffffff;
			transition: 0.3s;
			&:hover {
				color: $primaryColor;
			}
		}
	}
}
