@use "sass:map";

// Font
$mainFont: "Amazon Ember", sans-serif;

$headings: (
    h1: (
        fontSize: 24px,
        lineHeight: 29px,
        fontWeight: 700,
    ),
    h2: (
        fontSize: 22px,
        lineHeight: 26px,
        fontWeight: 700,
    ),
    h3: (
        fontSize: 18px,
        lineHeight: 22px,
        fontWeight: 700,
    ),
    h4: (
        fontSize: 14px,
        lineHeight: 17px,
        fontWeight: 700,
    ),
);

$body: (
    large: (
        fontWeight: 400,
        fontSize: 18px,
        lineHeight: 22px,
    ),
    medium: (
        fontWeight: 400,
        fontSize: 14px,
        lineHeight: 27px,
    ),
    small: (
        fontWeight: 400,
        fontSize: 12px,
        lineHeight: 14px,
    ),
);

$mainSizes: map-get($map: $body, $key: medium);

// Size
$mainFontColor: map-get($map: $primary, $key: black);
$mainFontSize: map-get($map: $mainSizes, $key: fontSize);
$mainFontWeight: map-get($map: $mainSizes, $key: fontWeight);
$mainLineHeight: map-get($map: $mainSizes, $key: lineHeight);
