@font-face {
	font-family: 'Josefin Sans';
	font-weight: 400;
	src: url('assets/fonts/JosefinSans/JosefinSans-Regular.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Cormorant Infant';
	font-weight: 400;
	src: url('assets/fonts/CormorantInfant/CormorantInfant-Regular.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Cormorant Infant';
	font-weight: 700;
	src: url('assets/fonts/CormorantInfant/CormorantInfant-Bold.ttf')
		format('truetype');
}
